<div class="accordion" id="inventoryDocumentation">
  <%= render 'static_pages/documentation_sections/login_access' %>
  <%= render 'static_pages/documentation_sections/dashboard' %>
  <%= render 'static_pages/documentation_sections/items' %>
  <%= render 'static_pages/documentation_sections/records' %>
  <%= render 'static_pages/documentation_sections/categories' %>
  <%= render 'static_pages/documentation_sections/whitelists' %>
  <%= render 'static_pages/documentation_sections/filtering' %>
  <%= render 'static_pages/documentation_sections/profile_settings' %>
  <%= render 'static_pages/documentation_sections/accessibility' %>
  <%= render 'static_pages/documentation_sections/overview' %>
  <%= render 'static_pages/documentation_sections/support' %>

</div>
