<div class="modal fade" id="addRecordModal" tabindex="-1" aria-labelledby="addRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRecordModalLabel">Add New Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Left -->
          <div class="col-md-6" style="border-right: 1px solid black;">
            <h5>Additional Details</h5>
            <p>Here you can add any additional details or controls for the selected field.</p>
            <div id="items-list-container"></div>
          </div>
          <div class="col-md-6">
            <!-- Right side for form fields -->
            <%= form_with url: inventories_path, method: :post, local: true do |form| %>
              <div class="row">
                <div class="col">
                  <%= form.label :item_name, "Item Name" %>
                  <%= form.text_field :item_name, class: "form-control", id: "item-name-field" %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= form.label :location, "Location" %>
                  <%= form.text_field :location, class: "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= form.label :condition_of_item, "Condition" %>
                  <%= form.text_field :condition_of_item, class: "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= form.label :original_owner_id, "Original Owner" %>
                  <%= form.collection_select :original_owner_id, User.all, :id, :email, { prompt: "Select an owner" }, class: "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= form.label :current_user_id, "Current User" %>
                  <%= form.collection_select :current_user_id, User.all, :id, :email, { prompt: "Select a user" }, class: "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= form.submit "Add Record", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user.admin? %>
  <tr class="admin-add-row no-sort" style="text-align: center; cursor: pointer;" tabindex="0">
    <td colspan="8" class="expandable-cell" data-bs-toggle="modal" data-bs-target="#addRecordModal">Add New Record</td>
  </tr>
<% end %>
