<%= javascript_include_tag 'search', defer: true =%>
<%= javascript_include_tag 'sorting', defer: true %>
<%= javascript_include_tag 'inventories', defer: true %>


<!-- Inventory Table -->
<div id="inventory-list">
    <%= render partial: 'table', locals: { inventories: @inventories } %>
</div>

Need pagination here , 0 - 10 - ... n
Need to standardize the condition of an item, currently we have free form entry and dropdown selection


<footer class="footer fixed-bottom py-2" style="background-color: #500000;">
  <div class="container-fluid d-flex justify-content-between">
    <span id="selected-items-count" style="color:white;">0 items selected</span>
    <div>
      <button type="button" class="btn btn-success" id="footer-checkout-btn" disabled style="background-color: gray; border-color: gray;">
        Check Out Selected
      </button>
      <button type="button" class="btn btn-primary" id="footer-return-btn" disabled style="background-color: gray; border-color: gray;">
        Return Selected
      </button>
      <button type="button" class="btn btn-danger" id="footer-delete-btn" disabled style="background-color: gray; border-color: gray;">
        Delete Selected
      </button>
    </div>
  </div>
</footer>

<!-- Add Record Modal -->
<div class="modal fade" id="addRecordModal" tabindex="-1" aria-labelledby="addRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addRecordModalLabel">Add New Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Left Side -->
                    <div class="col-md-6" style="border-right: 1px solid black;">
                        <div id="items-table-container"></div>
                    </div>

                    <!-- Right Side -->
                    <div class="col-md-6">
                        <%= form_with model: @inventory, url: inventories_path, remote: true, id: "inventory-form" do |form| %>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                      <label for="item-field" class="form-label">Search Item</label>
                                      <input type="text" id="item-field" class="form-control" placeholder="Search by name or SKU...">
                                    </div>
                                    <%= form.hidden_field :item_id, id: "item-id-field" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                      <label for="dept-field" class="form-label">Department</label>
                                      <input type="text" id="dept-field" class="form-control" placeholder="Search by name">
                                    </div>
                                    <%= form.hidden_field :dept_id, id: "dept-id-field" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <%= form.label :year_of_purchase, "Year of Purchase" %>
                                    <%= form.date_select :year_of_purchase, class: "form-control" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <%= form.label :location, "Location" %>
                                    <%= form.text_field :location, class: "form-control" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <%= form.label :condition_of_item, "Condition" %>
                                    <%= form.text_field :condition_of_item, class: "form-control" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <%= form.label :owner_email, "Original Owner" %>
                                    <%= form.collection_select :owner_email, User.all, :id, :email, { prompt: "Select an owner" }, class: "form-control" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <%= form.label :user_email, "Current User" %>
                                    <%= form.collection_select :user_email, User.all, :id, :email, { prompt: "Select a user" }, class: "form-control" %>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col">
                                    <%= form.submit "Add Record", class: "btn btn-primary", id: "add-record-button" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="multiDeleteConfirmationModal" tabindex="-1" aria-labelledby="multiDeleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="multiDeleteConfirmationModalLabel">Confirm Bulk Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the selected items?</p>
        <ul id="selected-items-list" style="display:none;"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm-multi-delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Return Confirmation Modal -->
<div class="modal fade" id="returnConfirmationModal" tabindex="-1" aria-labelledby="returnConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="returnConfirmationModalLabel">Confirm Return</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to return the selected items?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirm-return-btn">Return</button>
      </div>
    </div>
  </div>
