<footer class="footer fixed-bottom py-2" style="background-color: #500000;">
  <div class="container-fluid d-flex justify-content-between">
    <span id="selected-items-count" style="color:white;"></span>
    <div>
    <%= link_to "Back to Inventory", inventories_path, class: "btn btn-secondary" %>
    </div>
  </div>
</footer>

<div class="container-fluid d-flex justify-content-center align-items-start" style="height: 100vh; padding-top: 100px;">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 500px;">
    <h1 class="mb-4 text-center">Delete Whitelist Entry</h1>
      <%= form_with model: @whitelist, url: whitelist_path(@whitelist), method: :delete, local: true do |f| %>
      <div class="mb-3">
        <p>Are you sure you want to permanently remove this email from the whitelist?</p>
        <p class="reference-name"><strong><%= @whitelist.email %></strong></p>
      </div>

      <div class="d-flex justify-content-center mb-3">
        <%= f.submit("Yes, Remove", class: "btn btn-danger me-2") %>
        <%= link_to "Cancel", whitelists_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>